body {
  background-color: lightseagreen;
}
.luca {
  display: flex;
  border-radius: 50%;
  height: 50px;
}
.headerlinks {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}

.navbar {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.comments {
  margin-top: 500px;
  margin-right: 700px;
}
.wholepage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.comment-section {
}
